*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(238, 238, 238);
}

nav{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 230, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

nav a{
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: 20px;
}

nav a:hover {
    cursor: pointer;
    color: grey;
}


nav a:visited{
     color: black;
     text-decoration: none;

 }

 h1{
     margin-top: 260px;
     text-align: center;
     font-size: 80px;
 }

 #main{
     width: 100%;
     display: flex;
     justify-content: left;
     flex-wrap: wrap;
 }



#inspirationBox{
    margin-left: 5%;
    width: 70%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 25px;
    background-color: white;
    margin-top: 300px;
    margin-bottom: 150px;
}
#childQuote{
    font-size: 55px;
    margin-top: 10%;
}

#bildeAvKunUngen{
    width: 35%;
    border-radius: 15px;
}

 #cardBox{
    margin-left: 5%;
    width: 70%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 25px;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 300px;
 }

 #cardPicture{
    border-radius: 15px;
    display: flex;

    justify-content: center;
 }

 #ulMother{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
 }
 
 #ulMother ul{
    font-size: 25px;
    margin-left: 15px;
 }

 #ulMother ul li{
    margin: 25px;
 }

 #benefitsImpl{
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    padding: 25px;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 300px;
}

#benefitsImpl h2{
    width: 100%;
    margin: 15px;
}

.icons{
    width: 50%;
    border-radius: 15px;
}